*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

video {
  width: 100%;
}

@media (min-width: 1100px) {
  body {
    padding: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  video {
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
}
